<article id="main">
<h1>Sign up</h1>

<%= form_for(@user) do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<%= render 'fields', :f => f %>
	<%# #render doesn't require the underscore %>
	<%# #pass in the f value. ':f' must have same name in the partial %>

	<div class="actions">
		<%= f.submit "Sign up" %>
	</div>

<% end %>

</article>

<aside id="sidebar">
	&nbsp;
</aside>


