<% if @feed_items.any? %>
	<table class="microposts" summary="Status feed">
		<%= render :partial => 'shared/feed_item', :collection => @feed_items %>
		<%# feed doesn't have a controller or views subdirectory class %>
	</table>
	<%= will_paginate @feed_items %>
<% end %>
