<footer id="page-footer">
<nav class="nav">
<ul>
	<li><%= link_to "About", about_path %></li>
	<li><%= link_to "Contact", contact_path %></li>
	<li><%= link_to "Blog", "http://onpaws.com" %></li>
</ul>
</nav>
<span> &copy; Pat Skinner </span>
<% if @user %>
<span><br> signed in as <%= @user.name %></span>
<% end %>
</footer> <!-- end page footer -->

