<article id="main">
<h1>The Sample App</h1>
<p>This is the home page for the site. Hello.</p>
<br />
<%= link_to "Sign up now!", signup_path, :class => "button signup" %>
</article> 

<aside id="sidebar">
	Asdf
</aside>


