<% if signed_in? %>

	<table class="front" summary="for authed users">
		<tr>
			<td class="main">
				<h1 class="micropost">What's up?</h1>
				<%= render 'shared/micropost_form' %>
				<%= render 'shared/feed' %>
			</td>
			<td class="user_info">
				<%= render 'shared/user_info' %>
			</td>
		</tr>
	</table>

<% else %>
<article id="main">
<h1>The Sample App</h1>
<p>This is the home page for the site. Hello.</p>
<br />
<%= link_to "Sign up now!", signup_path, :class => "button signup" %>
</article> 

<aside id="sidebar">
	Asdf
</aside>

<% end %>
