<footer id="page-footer">
<nav class="nav">
<ul>
	<li><%= link_to "About", "#" %></li>
	<li><%= link_to "Contact", "#" %></li>
	<li><%= link_to "Blog", "http://onpaws.com" %></li>
</ul>
</nav>
<span> &copy; Pat Skinner </span>
</footer> <!-- end page footer -->

