<header id="page-header">
<%= link_to logo, root_path %>
<%# logo is a function in application_helper %>
<span>My App</span>
</header> <!-- /page header div -->
<nav id="main-nav" class="nav">
	<ul>
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "Help", help_path %></li>
		<li><%= link_to "Sign In", signin_path %></li>
	</ul>
</nav> <!-- /main-nav div -->

